@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.arrow-style{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 15px;
    border-radius: 10px;

}
.fa-arrow-right-long{
    padding-left: 10px;
    top: 10px;
}
.blog{
    display: flex;
}
.filled{
    color: rgba(238, 241, 16, 0.856);
}
.emty{
    color: rgba(238, 241, 16, 0.856);
}
/* --------------------collection styles 
                                    ------------------------*/

    .collections{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 40px;
       
        
        
    }
    .collection{
        background-color: antiquewhite;
        padding-left: 5px;
        text-align: center;
        box-shadow: 10px 10px 15px #888888;
        border: 2px solid #888888;
        border-radius: 10px;
        
        
    }   
    .tittle{
        text-align: center;
        font-size: 50px;
    } 
    .more{
    background-color: tomato;
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    
    
    }          
    .last-blogs{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }             
    .button{
        text-decoration: none;
        font-size: 25px;
        background-color: tomato;
        padding: 10px 15px;
        border-radius: 7px;
        
    }  
    .under-details{
        text-align: center;
        background-color: black;
        color: white;
    }
    footer{
        background-color: black;
        color: goldenrod;
        text-align: right;
        font-size: 60px;

    }
